<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/countdownnormal.css" rel="stylesheet"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        @Html.ActionLink("Sketcher", "Index", "Home", new { }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Peaple", "Index", "ApplicationUser", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("News", "News", "Home", new { }, new { @class = "nav-link" })
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">

                @if (User.Identity.IsAuthenticated == true)
                {
                    @Html.ActionLink("MyPage", "ShowUserPage", "ApplicationUser", new { }, new { @class = "nav-link text-light" })
                    @Html.ActionLink("Logoff", "Logoff", "ApplicationUser", new { }, new { @class = "nav-link text-light" })
                }
                else
                {
                    @Html.ActionLink("SignIn", "Authorization", "ApplicationUser", new { }, new { @class = "nav-link text-light" })
                    @Html.ActionLink("Registration", "Create", "ApplicationUser", new { }, new { @class = "nav-link text-light" })
                }
            </form>
        </div>
    </nav>
    <div class="container" style="padding-top:20px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
