@model BDApplication.Models.User

@{
    ViewBag.Title = "ShowUserPage";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
<script src="~/signalr/hubs"></script>

@*<div class="container">
    <div class="row" style="padding-top: 20px">
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">@Model.UserName</h3>

                <a id="upload_widget_opener"><img  id="image" style=" width: 100%; display: block;" src="@Model.UserPhotoPath" alt="Card image" ></a>
               

                
                <div class="card-footer text-muted">
                    Online
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Мои рисунки</h2>
            <!-- <hr /> -->
            <div style="padding-top: 20px">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Сортировка данных</h4>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <form>
                            <div class="form-group">

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Search</span>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <div class="input-group-append">
                                            <!--  <button class="btn btn-success">Поиск</button> -->
                                        </div>

                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Сортировка</span>
                                        </div>
                                        <select class="custom-select">
                                            <option value="1">Отсортировать по названию</option>
                                            <option value="2">Отсортировать по дате добавления</option>
                                            <option value="3">Отсортировать по популярности</option>
                                        </select>
                                    </div>
                                    <div class="text-center ">
                                        <a class="btn btn-success text-light">По убыванию</a>
                                        <a class="btn btn-danger text-light">По возрастанию</a>
                                        @Html.ActionLink("Добавить запись", "Create", "Sketch", new { }, new { @class = "btn btn-primary" })
                                    </div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @foreach (var sketch in Model.Sketches)
            {
                <div style="padding-top: 20px">
                    <div class="card mb-3">
                        <h3 class="card-header ">@sketch.SketchName</h3>
                        <img style=" width: 100%; display: block;" src="@sketch.SketchPhoto" alt="Card image">
                        <div class="card-body">
                          
                            @Html.ActionLink("Просмотреть запись", "ShowSketchPage", "Sketch", new { sketch.SketchId }, new { @class = "card-link" })
                        </div>
                        <div class="card-footer text-muted">
                            2 дня назад
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>*@

<form method="post">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">
                Рисуночки
            </h1>




            @foreach (var item in ViewBag.sketches)
            {
                <!-- Blog Post -->
                <div class="card mb-4">
                    <h3 class="card-header ">@item.SketchName</h3>
                    <img class="card-img-top" src="@item.SketchPhoto" alt="Card image cap">
                    <div class="card-body">
                        @Html.ActionLink("Просмотреть запись", "ShowSketchPage", "Sketch", new { item.SketchId }, new { @class = "card-link" })
                        @Html.ActionLink("Удалить запись", "Delete", "Sketch", new { item.SketchId }, new { @class = "card-link" })
                    </div>
                    <div class="card-footer text-muted">
                        @item.SketchDate
                        <span class="badge badge-success pull-right float-lg-right float-sm-right float-xl-right float-md-right">@item.SketchCategory</span>
                    </div>
                </div>
            }

            <!-- Blog Post -->
            <!-- Pagination -->
            @*<ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>*@

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <div class="card mb-3">
                <h3 class="card-header">@Model.UserName</h3>

                <a id="upload_widget_opener"><img id="image" style=" width: 100%; display: block;" src="@Model.UserPhotoPath" alt="Card image"></a>



                <div class="card-footer text-muted">
                    Online
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Сортировка записей</h5>
                <div class="card-body">

                    <select class="custom-select " name="orderby">
                        <option value="1">Отсортировать по дате</option>
                        <option value="2">Отсортировать по имени</option>
                        <option value="3">Отсортировать по категориям</option>
                    </select>


                    <div class="form-inline my-2 my-lg-0" style="padding-top:10px">

                        <input class="form-control mr-sm-2" type="text" placeholder="Данные для поиска" name="searchtext">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Искать</button>
                    </div>
                </div>
            </div>



            <div class="card my-4">
                <h5 class="card-header">Редактирование страницы</h5>
                <div class="card-body">
                    <div class="col-lg-12 col-md-12">

                        <ul class="list-unstyled mb-0">
                            <li>
                                @Html.ActionLink("Добавить пост", "Create", "Sketch", new { }, new { @class = "btn btn-success btn-block" })
                            </li>
                            @*<li>
                                    @Html.ActionLink("Сменить пароль", "ChangePassword", "ApplicationUser", new { }, new { @class = "btn btn-block default" })
                                </li>*@
                        </ul>
                    </div>
                </div>
            </div>





            @*<div class="card my-4">
                    <h5 class="card-header">Сортировка</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                </div>*@

            <!-- Search Widget -->
            <!-- Categories Widget -->
            @*<div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">Peaple</a>
                                    </li>
                                    <li>
                                        <a href="#">Art</a>
                                    </li>
                                    <li>
                                        <a href="#">Wallpaper</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#">...</a>
                                    </li>
                                    <li>
                                        <a href="#">...</a>
                                    </li>
                                    <li>
                                        <a href="#">...</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@

            <!-- Side Widget -->

        </div>

    </div>

</form>
<script>
    var chat = $.connection.userHubs;
    $.connection.hub.start().done(function () {
    });
</script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script type="text/javascript">

    var myUploadWidget;

    $('#upload_widget_opener').on("click", function () {
        cloudinary.openUploadWidget({
                      cloudName: 'djrk897te', uploadPreset: 'uomwsjzr',
                      cropping: 'server', folder: 'widgetdocs'
        }, (error, result) => {
            if (result.event === "success") {
                chat.server.changePhotoPath(result.info.secure_url, '@ViewBag.UserName');
                $("#image").attr("src", result.info.secure_url);
                }
            });
    }); ;
</script>