@model IEnumerable<BDApplication.Models.Room>



<script src="/Scripts/jquery-3.0.0.min.js"></script>
<!--Ссылка на библиотеку SignalR -->
<script src="/Scripts/jquery.signalR-2.3.0.min.js"></script>
<!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
<script src="/signalr/hubs"></script>



<div>

    <a href="@Url.Action("AddRoom")" class="btn btn-primary center-block" role="button">Добавить</a>
</div>


<div class="row">
<div class="card-columns">
   


    
        @foreach (var item in Model)
        {
            <div class="card md-4">
                <h3 class="card-header">@item.Name</h3>

                <a id="upload_widget_opener"><img id="image" style=" width: 100%; display: block;" src="@item.Image" alt="Card image"></a>
                @*<a href="#" id="upload_widget_opener" class="btn btn-default">Upload multiple images</a>*@
                <div class="card-body">
                    <a href="@Url.Action("DeleteRoom", "Room", new {id = Convert.ToInt16(item.Id) })" class="card-link" role="button">Удалить</a>
                    <a href="@Url.Action("DrowImage", "Room", new {id = Convert.ToInt16(item.Id) })" class="card-link" role="button">Перейти</a>
                </div>
                <div class="card-footer text-muted">
                    Online
                </div>
            </div>
        }
</div>
</div>

    <script>
        $('document').ready(function () {
            var chat = $.connection.drawHub;
            $.connection.hub.start().done(function () {



            });


            $('input').click(function () {

                name = prompt('Введите имя', '');
                chat.server.changeName($(this).attr('id'), name);
                $(this).val(name);
            });
        });
    </script>




